{% extends 'base.html' %}

{% block title %}Skillbridge - Ingreso{% endblock %}

{% block body %}
<div class="content d-flex justify-content-center py-3">
    {% if user.is_authenticated %}
        {% comment %} El usuario ya ha iniciado sesión, redirigir al home {% endcomment %}
        {% load static %}
        <script>
            window.location.href = "{% url 'index' %}";
        </script>
    {% else %}
    <div class="row">
        <div class="form-group">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                {{ error }}
                </div>
            {% endif %}
            <h1 class="mx-2 pt-4 text-center">Iniciar sesión</h1>
            <form class="card p-5" action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario">
            <br>
            <input type="password" name="password" placeholder="Contraseña">
            <br>
            <input type="submit" value="Iniciar Sesión" class="btn btn-primary">
            <a href="{% url 'registro_usuarios' %}"><p class="my-2 text-center">No tengo cuenta</p></a>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}